.image_grid {
    padding-top: 15px;
}

.image_div {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.grid_image {
    cursor: pointer;
    border-radius: 5px;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    width: 400px;
    height: 250px;
    display: block;
}
