.modal_content {
	display: flex;
    align-items: center;
    justify-content: space-between;
	height: 80%;
	width: 90%;
}

.left_chevron {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
	position: fixed;
	left: 0px;
	top: 48%;
	display: inline-block;
	margin-right: 1px;
}

.right_chevron {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
	position: fixed;
	right: 0px;
	top: 48%;
	display: inline-block;
	margin-left: 1px;
}

.image_modal {
	width: 100%;
	height: 100%;
	object-fit: cover;
}